# Скрываем переменные окружения
.env

# Скрываем локальную базу данных (историю чатов)
*.json
chat_history.json

# Системные файлы и кэш Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Локальные медиа-файлы от TTS
*.mp3